@import '../../../styles.scss';
#footer {
    padding: 300px 0 400px;
    .container {
        p {
            font: 32px $guillon-demi;
            letter-spacing: 1px;
            text-align: center;
            color: $white;
            a {
                color: $white;
                text-decoration: underline;
            }
            &.normal-text {
                display: block;
            }
            &.mobile-text {
                display: none;
            }
        }
    }
    @media(max-width:991px) {
        padding: 210px 0 165px 0;
        background: url('assets/footer-mobile-bg.svg') no-repeat center bottom;
        background-size: cover;
        .container {
            margin: 0 auto;
            p {
                font: 24px $guillon-regular;
                text-align: center;
                a {
                    color: $white;
                    text-decoration: underline;
                }
                &.normal-text {
                    display: none;
                }
                &.mobile-text {
                    display: block;
                    line-height: 30px;
                    .strong {
                        font-weight: bold;
                    }
                }
            }
        }
    }

    @media(min-width:992px) and (max-width:1420px){
        padding: 400px 0 200px 0;
    }
}