<app-nav>
</app-nav>
<app-header></app-header>

<!-- About -->
<section class="bg-primary about" id="about">
  <div class="container">
    <div class="box" *ngFor="let info of infos; let even = even" [class.left]="even" [class.right]="!even">
      <img src="assets/{{info.img}}.svg" alt="payment" />
      <div class="content">
        <h2 class="section-heading">{{info.title}}</h2>
        <p class="text">{{info.text}}</p>
      </div>
    </div>
  </div>
</section>

<!-- Companies -->
<section class="companies">
  <div class="container">
    <h2 class="section-heading">Timechain will support</h2>
    <div class="logos">
      <div class="logo" *ngFor="let logo of logos">
        <img src="assets/{{logo.path}}.svg" alt="{{logo.name}}" class="{{logo.name}}" />
      </div>
    </div>
    <h3>And many more cryptos.</h3>
  </div>
</section>

<!-- Team -->
<section class="team">
  <div class="container">
    <h2 class="section-heading">The executive team</h2>
    <div class="team-wraper">

      <div class="team-box" *ngFor="let member of teamMembers">
        <img src="assets/{{member.photo}}.png" alt="{{member.photo}}" />
        <div class="data">
          <h3>{{ member.name}}</h3>
          <p>{{ member.title}}</p>
          <a href="{{member.linkedin}}" target="_blank">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Advisors -->
<section class="advisors">
  <div class="container">
    <div></div>
    <div>
      <h2 class="section-heading">Advisors</h2>

      <div class="advisor-wraper">
        <div class="advisor-box" *ngFor="let advisor of advisors">
          <div class="data">
            <h3>{{advisor.name}}</h3>
            <p class="text-muted mb-0">{{advisor.title}}</p>
          </div>
          <a href="{{advisor.linkedin}}" target="_blank">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>

  </div>
</section>

<app-footer></app-footer>