@import '../styles.scss';
// Global styling for this template
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    @include serif-font;
}

a {
    color: $primary;
    @include transition-all;
    &:hover {
        color: darken($primary, .1);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include sans-serif-font;
}

.bg-primary {
    background-color: transparent !important;
}

section {
    padding: 8rem 0;
}

.section-heading {
    margin-top: 0;
    color: $black;
    font: 32px/1.16 $guillon-demi;
    letter-spacing: 1px;
    text-align: left;
    margin-bottom: 10px;
}

::-moz-selection {
    color: $white;
    background: $gray-900;
    text-shadow: none;
}

::selection {
    color: $white;
    background: $gray-900;
    text-shadow: none;
}

img::selection {
    color: $white;
    background: transparent;
}

img::-moz-selection {
    color: $white;
    background: transparent;
}

// Bootstrap overrides for this template
@media (min-width: 1200px) {
    .container {
        max-width: 1300px;
    }
}

// Sections
.about {
    padding: 500px 0 0 0;
    background: url('assets/content-bg.svg') no-repeat right 1160px;
    .box {
        width: 620px; //height: 383px;
        border-radius: 10px;
        background-color: $white;
        @include box-shadow-effect;
        margin-bottom: 60px;
        position: relative;
        img {
            position: absolute;
            top: 40px;
            left: -55px;
        }
        &.left {
            margin-left: 170px;
            margin-right: auto;
        }
        &.right {
            margin-right: 160px;
            margin-left: auto;
        }
        .section-heading {
            margin-bottom: 20px;
        }
        .content {
            padding: 60px 80px 40px 95px;
            .text {
                color: $dark-black;
                font: 300 24px/1.42 $guillon-regular;
            }
        }
    }
    @media(max-width:991px) {
        padding: 375px 0 0 0;
        background: none;
        .box {
            width: 300px;
            img {
                width: 83px;
                height: 83px;
                top: -41px;
                left: 30px;
                ;
            }
            &.left {
                margin: 0 auto 70px;
            }
            &.right {
                margin: 0 auto 70px;
            }
            .section-heading {
                font: 24px/1.17 $guillon-demi;
            }
            .content {
                padding: 72px 32px 10px 32px !important;
                .text {
                    font: 300 18px/1.44 $guillon-regular;
                }
            }
        }
    }
    @media(min-width:670px) and (max-width: 991px) {
        padding: 325px 0 0 0;
        .box {
            width: 500px;
        }
    }
}

.companies {
    background-color: $beige;
    padding: 110px 0 60px 0;
    .container {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        .section-heading {
            margin-bottom: 40px;
        }
    }
    h2 {
        font: 42px $guillon-demi;
        letter-spacing: 0.5px;
        color: $light-black;
    }
    .logos {
        column-count: 5;
        column-gap: 55px;
        .logo {
            margin-bottom: 60px;
            .bitcoin {
                margin-top: 15px;
            }
            .bitcoin-cash {
                margin-left: 35px;
                margin-top: 12px;
            }
            .eos {
                margin-left: 43px;
            }
            .ethereum {
                margin-left: 24px;
            }
            .litecoin {
                margin-left: 45px;
                margin-top: -17px;
            }
            .ripple {
                margin-top: 16px;
                margin-left: 7px;
            }
            .stellar {
                margin-left: 34px;
            }
            .nem {
                margin-top: -14px;
                margin-left: 31px;
            }
            .cardano {
                margin-top: 5px;
                margin-left: 39px;
            }
            .neo {
                margin-left: 49px;
                margin-top: -7px;
            }
        }
    }
    h3 {
        font: 18px/1.44 $guillon-demi;
        letter-spacing: 0.5px;
        text-align: center;
        color: $dark-black;
    }
    @media(max-width:991px) {
        padding: 45px 0 60px 0;
        h2 {
            font: 32px $guillon-demi;
            max-width: 180px;
            text-align: center;
        }
        .logos {
            column-count: 2;
            column-gap: 55px;
            .stellar {
                margin-left: 42px !important;
                margin-top: 11px;
            }
            .bitcoin-cash {
                margin-left: 32px !important;
                margin-top: 3px !important;
            }
            .neo {
                margin-left: 49px;
                margin-top: 4px;
            }
            .ethereum {
                margin-left: 16px !important;
            }
            .litecoin {
                margin-left: 38px !important;
                margin-top: -17px;
            }
        }
    }
}

.team {
    padding-bottom: 0;
    .section-heading {
        font: 42px/1.19 $guillon-demi;
        letter-spacing: 0.5px;
        text-align: center;
        color: $light-black;
    }
    .team-wraper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 935px;
        margin: 70px auto 0;
        .team-box {
            display: flex;
            flex-direction: row; //width: 37%;
            width: 345px;
            margin-right: 70px;
            margin-bottom: 70px;
            img {
                width: 120px;
                height: 120px;
            }
            .data {
                margin-left: 40px;
                margin-top: 10px;
                h3 {
                    font: 24px/1.08 $guillon-demi;
                    letter-spacing: 0.5px;
                    color: $primary;
                }
                p {
                    font: 18px $guillon-regular;
                    line-height: 1.44;
                    color: $dark-black;
                }
                a {
                    background-color: $primary;
                    width: 30px;
                    height: 30px;
                    background-color: $primary;
                    border-radius: 100%;
                    display: block;
                    color: white;
                    padding: 2px 0 0 9px;
                    &:hover {
                        @include box-shadow-effect;
                    }
                }
            }
        }
    }
    @media(max-width:991px) {
        padding-top: 45px;
        .section-heading {
            font: 32px/1.16 $guillon-demi;
            max-width: 250px;
            text-align: center;
            margin: 0 auto;
        }
        .team-wraper {
            padding: 0 20px;
            width: 400px;
            margin:70px 0;
            .team-box {
                margin-right: 0;
                padding-right: 25px;
                width: 315px;
                img {
                    width: 90px;
                    height: 90px;
                }
                .data {
                    margin-left: 25px;
                    h3 {
                        max-width: 150px;
                    }
                }
            }
        }
    }
}

.advisors {
    padding: 175px 0 350px 0;
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .section-heading {
            font: 42px $guillon-demi;
            letter-spacing: 0.5px;
            color: $light-black;
            margin-bottom: 37px;
        }
        .advisor-wraper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            max-width: 650px;
            .advisor-box {
                display: flex;
                flex-direction: row;
                width: 40%;
                justify-content: space-between;
                margin: 0 65px 41px 0;
                .data {
                    h3 {
                        font: 24px/1.08 $guillon-demi;
                        letter-spacing: 0.5px;
                        color: $primary;
                        margin-bottom: 1px;
                    }
                    p {
                        font: 18px/1.44 $guillon-regular;
                        color: $dark-black;
                    }
                }
            }
        }
        a {
            background-color: $primary;
            width: 30px;
            height: 30px;
            background-color: $primary;
            border-radius: 100%;
            display: block;
            color: white;
            padding: 2px 0 0 8px;
            &:hover {
                @include box-shadow-effect;
            }
        }
    }
    @media(max-width:991px) {
        padding-top: 0;
        padding-bottom: 0;
        .container {
            .section-heading {
                text-align: center;
                font: 32px $guillon-demi;
            }
            .advisor-wraper {
                padding: 0 20px;
                max-width: 100%; //margin-left: 22px;
                .advisor-box {
                    width: 85%;
                }
            }
        }
    }
}