<!-- Header -->
<header class="masthead">
  <div class="container">
    <h1>Buy. Sell. Trade. Hold. In One App.</h1>
    <p class="subtitle">Integrated digital asset management to save you time and money.</p>
    <div class="form">
      <form action="https://timechain.us17.list-manage.com/subscribe/post?u=b1b119829408142982ebf5095&amp;id=c7b358c1fc" method="post"
        id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" onsubmit="this.submit()" novalidate>
        <input type="email" id="mce-EMAIL" placeholder="Email" value="" name="EMAIL" required/>
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text" name="b_b1b119829408142982ebf5095_c7b358c1fc" tabindex="-1" value="">
        </div>
        <input type="submit" value="Sign up for whitelist info" name="subscribe" id="mc-embedded-subscribe" class="button">
      </form>
    </div>
  </div>
</header>