<h1 mat-dialog-title>Get our concept paper.</h1>
<div mat-dialog-content>
  <img src="assets/close-modal.svg" alt="close" class="close" (click)="onNoClick()" />
  <p>Enter your email below to receive our concept paper.</p>
  <div class="form">
    <form action="https://timechain.us17.list-manage.com/subscribe/post?u=b1b119829408142982ebf5095&amp;id=51a2cf1058" method="post"
      id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" onsubmit="this.submit()" novalidate>
      <div id="mc_embed_signup_scroll">
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text" name="b_b1b119829408142982ebf5095_51a2cf1058" tabindex="-1" value="">
        </div>
        <input type="submit" value="Send" name="subscribe" id="mc-embedded-subscribe" class="button">
      </div>
    </form>
  </div>
</div>