@import '../../../styles.scss';
// Styling for dialog
/deep/ .mat-dialog-container {
    border-radius: 10px;
    padding: 40px 40px 0 40px;
    position: relative;
    .close {
        position: absolute;
        right: 20px;
        top: 20px;
        opacity: 1;
        &:hover {
            cursor: pointer;
        }
    }
}

.mat-dialog-title {
    font: 32px $guillon-demi;
    @media(max-width: 991px) {
        font-size: 22px;
    }
}

.mat-dialog-content {
    p {
        font: 24px $guillon-regular;
        @media(max-width: 991px) {
            font-size:16px;
        }
    }
    .form {
        padding-top: 40px;
        height: 80px;
        @media(max-width: 991px) {
            padding-top:10px;
        }
        .close {
            position: absolute;
            right: 0px;
            top: 0px;
        }
        input {
            width: 466px;
            height: 36px;
            border: 0;
            border-radius: 5px;
            background-color: $white;
            @include box-shadow-effect;
            padding: 8px;
            @media(max-width: 991px) {
                width: 200px;
                border: 1px solid rgba(26, 26, 26, 0.25);
            }
            @media(max-width: 410px) {
                width: 150px;
                border: 1px solid rgba(26, 26, 26, 0.25);
            }
        }
        .button {
            width: 64px;
            height: 36px;
            padding-top: 6px;
            margin-left: 5px;
            background-color: $primary;
            color: $white;
            border-radius: 5px;
            border: 0;
            font-family: $guillon-lignt;
            &:hover {
                @include box-shadow-effect;
                cursor: pointer;
            }
        }
    }
}