/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'variables.scss';
body {
    background: url('assets/header-bg.svg') no-repeat center 550px;
    background-size: contain;
    @media(max-width:991px) {
        background: url('assets/header-mobile-bg.svg') no-repeat center 700px;
    }
    @media(min-width:475px) and (max-width: 991px) {
        background-position-y: 575px;
    }
}

#wrapper {
    overflow-x: hidden;
    background: url('assets/footer-bg.svg') no-repeat center bottom;
    background-size: contain;

    @media(max-width:991px) {
        background: none;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1450px!important;
    }
}